packer/variables.json
packer/key.json
kubernetes/packer/key.json
kubernetes/terraform/bucket-keys
kubernetes/terraform/key.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
*.retry
roles/jdauphant.nginx
vault.key
# Vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
run.sh
/src/.env
/docker/.env
/kubernetes/terraform/.idea/
/kubernetes/packer/variables22.json
