cloud_id                 = "b1gn6qsjg94n8jb4vr6g"
folder_id                = "b1gkdafp07horpeotfcf"
zone                     = "ru-central1-a"
image_id                 = "fd8hctfkee8bmnhap2rt"
subnet_id                = "e9bccatc2a60elhte5ie"
region_id                = "ru-central1"
public_key_path          = "~/.ssh/yc.pub"
private_key_path         = "~/.ssh/yc"
service_account_key_file = "/key.json"
number_of_instances      = "2"
app_disk_image           = "fd80pap0ro1dfp3v8mdk"
db_disk_image            = "fd8rl2902l5hl5pdhojn"
app_name                 = "reddit-app-prod"
db_name                  = "reddit-db-prod"
